<div class="p-0 m-0 w-100">
  <table *ngIf="component" class="w-100">
    <tr *ngIf="component.nome && component.codigo">
      <td colspan="2">{{ component.codigo }} - {{ component.nome }}</td>
    </tr>
    <tr *ngIf="component.carga_horaria">
      <td>Carga Horária</td>
      <td>
        {{ component.carga_horaria }}h ({{
        (component.carga_horaria / 15).toLocaleString("pt-BR", {
        minimumIntegerDigits: 3
        })
        }})
      </td>
    </tr>
    <tr *ngIf="component.pre_requisitos">
      <td>Pré-requisitos</td>
      <td [innerHTML]="parsedRequirements"></td>
    </tr>
    <tr *ngIf="component.eh_requisito_de">
      <td>É requisito de</td>
      <td [innerHTML]="parsedPostRequirements"></td>
    </tr>
  </table>
</div>