<mat-drawer-container autosize class="h-100">
  <mat-toolbar>
    <mat-toolbar-row class="d-flex row">
      <div class="ml-3" (click)="drawer.toggle()" style="cursor: pointer">
        <img
          src="https://sigaa.unb.br/sigaa/img/sigaa.ico"
          class="rounded-circle"
          alt="Logo do site"
        />
      </div>
      <div class="ml-3">SIGAARush</div>
      <span class="spacer"> </span>
      <div class="col-2 d-flex justify-content-end">
        <button
          mat-mini-fab
          matTooltip="Visualizar informações"
          class="mr-2"
          (click)="drawer.toggle()"
        >
          <mat-icon>info</mat-icon>
        </button>
        <a href="https://github.com/projeto-de-algoritmos/Grafos2_SIGAARush">
          <button mat-mini-fab matTooltip="Código fonte no Github">
            <mat-icon>code</mat-icon>
          </button>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer #drawer mode="side" class="col-3 p-0 m-0">
    <app-info-component />
  </mat-drawer>

  <mat-card class="d-flex">
    <mat-card-title>
      <div class="col-12 py-2 text-center py-1">
        Busque a ligação com menor carga horária até uma matéria da UnB
      </div>
    </mat-card-title>
    <div>
      <mat-card-content class="d-flex row col-12 m-0 p-0">
        <div class="row col-12 d-flex justify-content-center m-0 p-0 py-2">
          <div class="col-5 d-flex justify-content-center">
            <app-materia [component]="componentSource"></app-materia>
          </div>
        </div>
        <form
          class="row col-12 m-0 p-0 py-2 d-flex justify-content-center"
          [formGroup]="form"
          *ngIf="form"
        >
          <div class="col-4 d-flex justify-content-end">
            <mat-spinner
              style="max-width: 5vw; max-height: 5vh"
              *ngIf="loadingDpt"
            />

            <mat-form-field
              *ngIf="!loadingDpt"
              appearance="outline"
              [hideRequiredMarker]="false"
            >
              <mat-label> Departamento</mat-label>
              <mat-select
                required
                (selectionChange)="handleSelection(lblComponentA)"
                [formControlName]="lblDepartment"
              >
                <mat-option *ngFor="let d of departments" [value]="d">{{
                  d
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4 d-flex justify-content-start">
            <mat-spinner
              style="max-width: 5vw; max-height: 5vh"
              *ngIf="loadingComp"
            />

            <mat-form-field
              appearance="outline"
              class="w-100 justify-content-center"
              *ngIf="!loadingComp"
            >
              <mat-label> Matéria de destino (nome ou código)</mat-label>
              <input
                type="text"
                matInput
                required
                [formControlName]="lblComponentA"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto [displayWith]="displayFunction">
                <mat-option *ngFor="let c of componentsListSource" [value]="c">
                  {{ c.codigo }} - {{ c.nome | titlecase }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div
            class="col-1 d-flex justify-content-start align-content-start pt-2"
          >
            <div>
              <button
                mat-mini-fab
                color="warn"
                (click)="stop()"
                *ngIf="showSearch"
              >
                <mat-icon>stop</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="primary"
                [disabled]="!form.valid"
                (click)="showSearch = !showSearch"
                *ngIf="!showSearch"
              >
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </div>
    <div class="d-flex col-12 m-0 p-0">
      <mat-card-content *ngIf="showSearch" class="m-0 p-0 w-100">
        <app-search [componentSource]="componentSource"></app-search>
      </mat-card-content>
    </div>
  </mat-card>
</mat-drawer-container>
