<div class="d-flex flex-column pt-2">
  <div
    class="d-flex col-12 justify-content-center align-content-center pb-2 px-1"
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> SIGAA </mat-panel-title>
      </mat-expansion-panel-header>

      O SIGAA, Sistema Integrado de Gestão de Atividades Acadêmicas, 
      é o sistema de administração da vida acadêmica do estudante, da Universidade
      de Brasília (UnB), nele é possível que os estudantes realizem diversas
      atividades como emissão de histórico escolar, atestado de matrícula, 
      declaração de vínculo com a instituição, matrícula. Dessa forma, 
      nele estão contidas informações relativas às grades curriculares 
      e disciplinas de cursos da UnB, juntamente com seus pré-requisitos e co-requisitos.
      <button mat-mini-fab (click)="showRef = !showRef">1</button>

      <br />
    </mat-expansion-panel>
  </div>
  <div
    class="d-flex col-12 justify-content-center align-content-center pb-2 px-1"
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Grafos </mat-panel-title>
      </mat-expansion-panel-header>
      Grafos são estruturas matemáticas criadas para representar relacionamentos
      entre objetos, assim, podendo relacionar uma informação a outra. Para
      isso, são utilizados nós que representam os objetos e arestas que
      representam uma ligação entre os objetos, essas ligações podem ser
      assimétricas, representadas por grafos não direcionados e podem ter pesos
      associados a elas, como é o caso de uma ligação entre duas disciplinas no SIGAA.
      <button mat-mini-fab (click)="showRef = !showRef">2</button>
    </mat-expansion-panel>
  </div>
  <div
    class="d-flex col-12 justify-content-center align-content-center pb-2 px-1"
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> SIGAARush </mat-panel-title>
      </mat-expansion-panel-header>
      O SIGAARush foi desenvolvido com o objetivo de auxiliar os estudantes da
      Universidade de Brasília a descobrirem a forma mais rápida de cursar uma
      disciplina desejada, para isso foi utilizada a técnica de Web scraping 
      que coleta os dados das disciplinas no sítio eletrônico do SIGAA, para descobrir
      qual os pré-requisitos das matéria desejada e, assim, calcular o menor caminho,
      no qual os pesos das arestas é a carga horária necessárias para cursar
      a disciplina que é pré-requisito. Entretanto não é garantido que essas disciplina
      possuem oferta para o semestre atual, devido os dados terem sido obtidos pela técnica
      de Web scrapping a partir da página do SIGAA
      <button mat-mini-fab (click)="showRef = !showRef">3</button>. 
      O arquivo pode ser observado neste 
      <a href="https://github.com/projeto-de-algoritmos/Grafos2_SIGAARush/blob/master/src/app/service/sigaa/get_components_list.py">
          Link
      </a>

    </mat-expansion-panel>
  </div>
  <div
    class="d-flex col-12 justify-content-center align-content-center pb-2 px-1"
  >
    <mat-expansion-panel [expanded]="showRef">
      <mat-expansion-panel-header>
        <mat-panel-title> Mais informações </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="col-12 d-flex justify-content-center">
        <h3>Referências</h3>
      </div>
      <div class="col-12 d-flex p-0 m-0">
        [1] DA. UnB Notícias - Tire suas dúvidas sobre o SIGAA. Disponível em: https://noticias.unb.br/67-ensino/4317-tire-suas-duvidas-sobre-o-sigaa. Acesso em: 15 maio 2023. <br />
        [2] KLEINBERG, Jon; TARDOS, Eva. Algorithm design.Pearson Education India, 2006.<br />
        [3] SIGAA - Sistema Integrado de Gestão de Atividades Acadêmicas. Sigaa.unb.br. Disponível em: https://sigaa.unb.br/sigaa/public/componentes/busca_componentes.jsf?aba=p-ensino. Acesso em: 15 maio 2023. <br />
      </div>

      <div class="d-flex col-12 justify-content-center">
        <h3>Criado por</h3>
      </div>
      <div class="d-flex col-12 justify-content-center">
        <div class="px-2">
          <a href="https://github.com/lucasgabriel-2">
            <img
              src="https://avatars.githubusercontent.com/u/87864450?v=4"
              alt="Imagem do usuário lucasgabriel-2 no Github."
              class="rounded-circle small"
            />
          </a>
        </div>
        <div>
          <a href="https://github.com/nszchagas">
            <img
              src="https://avatars.githubusercontent.com/u/68018675?v=4"
              alt="Imagem do usuário nszchagas no Github."
              class="rounded-circle small"
            />
          </a>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
